<footer class="footer bg-dark py-2 mt-auto" style="margin-top: 0.5em;">
    <div class="container " style="text-align: center;">
        <span class="text-muted"> Notes-App</span>
    </div>
</footer>